.gridBox {
  background: white;
  height: 520px;
  width: 800px;
  float: left;
  border: 2px;
  border-color: black;
  border-style: solid;
  padding-left: 10px;
  margin-left: 10px;
}

table {
  padding-left: 20px;
}

.columnTitles {
  font-weight: bold;
}

.tableRow:hover {
  color: red;
}