.gridBox {
  background: white;
  height: 500px;
  width: 800px;
  float: left;
  border: 2px;
  border-color: black;
  border-style: solid;
  padding-left: 10px;
  margin-left: 10px;
}

.columnTitles {
  font-weight: bold;
}
