.filterBox {
  height: 500px;
  width: 250px;
  border: 2px;
  border-color: black;
  border-style: solid;
  background-color: white;
  padding: 10px;
  margin-left: 20px;
  float: left;
}

.FilterDescription {
  font-size: 12px;
}

.createTripButton {
  padding: 10px;
  margin: 25px;
}

.resetFilterButton {
  margin-left: 10px;
}

.searchBar {}

.catagoriesDropdown {
  margin-top: 10px;

}