.filterBox {
  height: 250px;
  border: 2px;
  border-color: black;
  border-style: solid;
  background-color: white;
  width: 500px;
  float: left;
}
.createTripButton {
  padding: 10px;
  margin: 10px;
}
.searchBar {
}
.catagoriesDropdown {
  margin-top: 10px;
  padding: 10px;
}
